<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.winnie.fypmbassignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SalesGridlistActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".AnnouncementActivity" /> -->
        <!-- <activity android:name=".ProfileActivity" /> -->
        <!-- <activity android:name=".RegisterActivity" /> -->
        <!-- <activity android:name=".ForgetpasswordActivity" /> -->
        <activity android:name=".LoginActivity" />
        <!-- <activity android:name=".ProductActivity" /> -->
        <!-- <activity android:name=".ChangePasswordActivity" /> -->
        <!-- <activity android:name=".EditProfile" /> -->
        <!-- <activity android:name=".AnnounceListLectActivity" /> -->
        <activity android:name=".AnnouncementActivity" />
        <activity android:name=".AnnounceViewActivity" />
        <!-- <activity android:name=".AnnouncementListActivity"/> -->
        <activity android:name=".Profile.ProfileViewActivity" />
        <!-- <activity android:name=".RetrieveActivity"/> -->
        <!-- <activity android:name=".SalesListActivity" /> -->
        <!-- <activity android:name=".SalesListActivity"></activity> -->
        <activity android:name=".ProductEditActivity" />
        <!-- <activity android:name=".ReportActivity"/> -->
        <!-- <activity android:name=".MainMenuActivity"></activity> -->
        <activity android:name=".SellerProfileActivity" />
        <!-- <activity android:name=".SalesCategoryActivity"/> -->
        <!-- <activity android:name=".FriendSearchlistActivity" /> -->
        <activity android:name=".AnnounceEditActivity" />
        <activity android:name=".Crop.ImageCropActivity" />
        <!-- <activity android:name=".Profile.EditProfileActivity"></activity> -->
        <!-- <activity android:name=".SellerlistActivity"/> -->
        <activity android:name=".ProductViewActivity" />
        <!-- <activity android:name=".ChatDemo.LoginMainActivity" /> -->
        <activity android:name=".chat.Chat_Room" />
        <!-- <activity android:name=".SearchfriendActivityfromdb"></activity> -->
        <activity android:name=".FriendProfileViewActivity" />
        <activity android:name=".FriendChatlistActivity" />
        <activity android:name=".ProductSellerViewActivity" />
        <!-- <activity android:name=".MainMenuAActivity"/> -->
        <!--<activity android:name=".SalesGridlistActivity"></activity>-->
    </application>

</manifest>